.idea
*.iml
*.ipr
*.iws

**/node_modules/

*.log

target
web/src/**/*.css
**/webapp/css/**/*
**/webapp/img/**/*
**/webapp/build/**/*
**/webapp/js/**/*
**/webapp/*.html
**/npm-debug.log

npm-debug.log

.classpath
.project
.settings
/web/src/frontend/build
/web/src/main/webapp/static/
/web/src/main/webapp/asset-manifest.json
/web/src/main/webapp/service-worker.js
